html{
  font-size: 62.5%;
}

body{
  background-color: #000;
}

#main {
  color: white;
  font-family: helvetica, monospace;
}

header {
  position: relative;
  text-align: center;
  font-family: Bungee Outline, monospace;
  margin: 7.0rem 0rem 7.0rem 0rem;
  width: 70rem;
  left: calc(50% - 35rem);
  border: 2px solid red;
  border-radius: 2rem;
  background-color: black;
}

header div{
  border: 0.2rem solid red;
  margin: 0.3rem 0.3rem;
  border-radius: 1.5rem;
}

h1 {
  position: relative;
  font-size: 6.0rem;
  line-height: 1.5rem;
  color: yellow;
  padding: 1.0rem 1.0rem 1.5rem 1.0rem;
}

#header-text {
  font-family: helvetica;
  font-size: 2.5rem;
  line-height: 0.6px;
  color: white;
  font-weight: 400;
}

#img-div {
  position: relative;
  margin-top: 10rem;
  width: 100%;
	display: grid;
	height: auto;
  align-content: center;
  background: black;
}

#image {
  border-radius: 20%;
  max-width: 100%;
	display: block;
	height: auto;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
  font-size: 2.4rem;
}

.row {
  display: flex;
  flex-direction: row;
  font-family: helvetica, monospace;
  text-align: left;
  font-size: 2.0rem;
}

.col1{
  padding: 5px 0px 0px 0px;
  top: 0;
  font-size: 30px;
  line-height: 15px;
}

.col2{
  padding-left: 20px;
}

.col1 p{
  line-height: 0;
  padding: 18px 0px 10px 0;
  margin: 10px 0 10px 0;
}

#b1{
  height: 20px;
}

#b2{
  height: 20px;
}

.border-style{
  position: relative;
  width: 10px;
  height: calc(100% - 55px);
  border: solid rgb(4, 17, 186) 2px;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  left: 28px;
}

#tribute-info{
  margin-right: 20%;
  margin-left: 20%;
}

#tribute-link {
  font-family: helvetica, monospace;
  font-size: 1.1em;
}

hr{
  margin-top: 100px
}

footer {
  font-family: helvetica, monospace;
  font-size: 15px;
  text-align: center;
  color: white;
}

/* PATH OF TRAVEL */

.path {
  position: relative;
  height: 100px;
  width: 100%;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .path {
    transform: scale(0.6);
  }
}

.path::after {
  content: "";
  position: absolute;
  display: block;
  border-top: 12px dotted white;
  width: 95%;
  left: 2.5%;
  top: 50%;
  margin-top: -6px;
}

/* PACMAN */

.pacman {
  position: absolute;
  z-index: 99;
  top: 50%;
  animation: movePmanForward 16s linear infinite;
}

.pacman::before, .pacman::after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  border: 30px solid #FFEE00;
  margin-top: -30px;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.pacman::after{
  border-color: #FFEE00;
  border-top-color: transparent;
  border-right-color: transparent;
  animation: mouthBottom 0.7s ease infinite;
}

.pacman::before {
  animation: mouthTop 0.7s ease infinite;
}

/* BLACKOUT */

.blackout {
  position: absolute;
  display: block;
  background: black;
  width: 150%;
  height: 25px;
  z-index: 98;
  top: 40px;
  left: -120%;
  animation: moveBlackout 16s linear infinite;
}

/* ALIVE GHOST */

.ghostAlive {
  position: absolute;
  z-index: 99;
  width: 60px;
  height: 70px;
  background: red;
  top: 50%;
  left: -20%;
  margin-top: -35px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  animation: moveAliveGhost 16s linear infinite;
  animation-delay: 0.7s;
}

.ghostAlive::before, .ghostAlive::after {
  content: "";
  position: absolute;
  background: white;
  width: 20px;
  height: 25px;
  border-radius: 50%;
  top: 15px;
  left: 4px;
}

.ghostAlive::after {
  left: 30px;
}

.eyesAlive::before, .eyesAlive::after {
  content: '';
  position: absolute;
  background: blue;
  width: 10px;
  height: 10px;
  left: 13px;
  top: 25px;
  border-radius: 50%;
}

.eyesAlive::after {
  left: 40px;
  z-index: 99;
}

.skirtAlive, .skirtAlive::before, .skirtAlive:after {
  position: absolute;
  width: 0px;
  height: 0px;
  border: 10px solid black;
  border-top-color: transparent;
  bottom: -10px;
}

.skirtAlive::before {
  content: "";
  left: 10px;
}

.skirtAlive::after {
  content: "";
  left: 30px;
}

/* DEAD GHOST */

.ghostDead {
  position: absolute;
  z-index: 99;
  width: 60px;
  height: 70px;
  background: blue;
  top: 50%;
  left: 120%;
  margin-top: -35px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  animation: moveDeadGhost 16s linear infinite, ghostFlash 0.5s linear infinite;
}

.ghostDead::before, .ghostDead::after {
  content: "";
  position: absolute;
  background: white;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 25px;
  left: 12px;
}

.ghostDead::after {
  left: 36px;
}

.mouthDead::before {
  content: '';
  position: absolute;
  background: white;
  width: 40px;
  height: 2px;
  left: 10px;
  top: 48px;
}

.skirtDead, .skirtDead::before, .skirtDead:after {
  position: absolute;
  width: 0px;
  height: 0px;
  border: 10px solid black;
  border-top-color: transparent;
  bottom: -10px;
}

.skirtDead::before {
  content: "";
  left: 10px;
}

.skirtDead::after {
  content: "";
  left: 30px;
}

/* ANIMATIONS */

@keyframes mouthTop {
  50% {
    transform: rotate(44deg);
  }
}

@keyframes mouthBottom {
  50% {
    transform: rotate(-44deg);
  }
}

@keyframes movePmanForward {
  0% {
    left: -20%;
  }
  50% {
    transform: rotate(0deg);
    left: 120%;
  }
  51% {
    transform: rotate(180deg);
    left: 120%;
  }
  100% {
    transform: rotate(180deg);
    left: 0%;
  }
}

@keyframes moveDeadGhost {
  0% {
    left: 120%;
  }
  50% {
    left: 120%
  }
  51% {
    left: 100%
  }
  100% {
    left: -10%;
  }
}

@keyframes moveAliveGhost {
    0% {
    left: -20%;
  }
  50% {
    left: 120%;
  }
  100% {
    left: 120%;
  }
}

@keyframes moveBlackout {
  0% {
    left: -170%;
  }
  50% {
    left: -30%;    
  }
  100% {
    left: 0%;
  }
}

@keyframes ghostFlash {
  50% {
    background: black;
  }
}      